.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 300px;
}

.about-left-section {
    text-align: left;
    margin-right: 50px; /* Adjust the margin as needed */
}

.about-container h2 {
    font-size: 70px;
    margin-bottom: 50px;
    margin-left: 90px;
    color: white;
}

.about-circle {
    width: 488px;
    height: 488px;
    background: url(../images/kirk_pfp.jpg);
    border-radius: 50%;
    margin-left: 20px; 
    background-size: cover;
    background-position-y: -100px;
    background-position-x: -7px;
    border: 8px solid #8A8A8A;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.about-right-section {
    text-align: left;
    max-width: 600px;
    font-size: 35px;
    line-height: 1.2;
    color: white;
}

/* What I'm Doing Section */
.my-section {
    margin-top: 50px; /* Adjust the margin as needed */
    margin: 0 auto; /* Center the section */
    text-align: center;
    width: 1831px; /* Set a maximum width if necessary */
    height: 100%;
    background-color: #8A8A8A;
    border-radius: 71px;
    margin-bottom: 300px;
    color: white;
}

.my-section h2 {
    font-size: 70px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-box {
    width: 300px;
    margin: 10px;
    border-radius: 47px;
    overflow: hidden;
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each image box for the first two rows */
    box-sizing: border-box;
}

.image-box:nth-child(n+7) {
    flex: 0 0 calc(50% - 20px); /* Adjust the width of each image box for the last two rows */
    margin-top: 60px; /* Add space between the rows */
}

.image-box img {
    width: 300px;
    border-radius: 47px;
    margin: 40px;
}

.image-caption {
    font-size: 40px;
    margin-top: 10px;
    text-align: center; /* Center the caption text */
}

/* Education Section */

.education-section {
    margin-bottom: 300px;
}

.education-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin as needed */
    color: white;
}

.education-section h2 {
    margin-left: 270px  ;
    font-size: 70px;
    color: white;
}

.education-left{
    margin-left: 300px;
}

.education-left img {
    width: 250px;
    height: 250px;
    border-radius: 10px; /* Adjust the border-radius as needed */
}

.education-center {
    text-align: center;
}

.education-date {
    font-size: 40px;
    text-align: center;
    margin-left: 140px;
}

.education-right {
    text-align: right;
    margin-right: 230px; /* Adjust the margin as needed */
}

.education-school,
.education-program {
    font-size: 40px; /* Adjust the font size as needed */
    margin: 5px 0;
}