section {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    color: white;
  }
  
h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

  h2 {
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }

  .main-work {
    margin-left: 24px;
    margin-top: 24px;
}

.video-box {
    text-align: center;
    color: #CBCBCB;
    margin: 20px auto;
    border: 2px solid #555;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-box h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  video {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 16px;
  }