.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.picture {
    margin-bottom: 20px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allow the row to wrap on smaller screens */
}

.picture img {
    border-radius: 0;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.picture img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* Styles for larger screens (desktop) */
@media screen and (min-width: 431px) {
    .container h2 {
        font-size: 30px; /* Adjust as needed for desktop */
    }

    .picture1 {
        width: 1600px;
        height: 720px;
        border-radius: 108px;
        margin: 30px;
        margin-bottom: 90px;
    }

    .picture2,
    .picture3 {
        width: 700px;
        height: auto;
        border-radius: 77px;
        margin-right: 20px;
        margin: 40px;
        margin-bottom: 90px;
    }

    .picture4 {
        width: 1600px;
        height: 720px;
        border-radius: 108px;
    }

    .picture2 a,
    .picture3 a {
        width: 700px;
        height: auto;
        margin-right: 20px;
        margin: 40px;
        margin-bottom: 90px;
    }

    .picture4 a {
        border-radius: 108px;
    }
}

@media screen and (max-width: 430px) {
    .container h2 {
        font-size: 24px;
    }

    .picture1,
    .picture2,
    .picture3,
    .picture4 {
        width: 400px;
        height: auto;
        border-radius: 10px;
        margin: 10px auto;
        display: block;
    }
}
